[Unit]
Description=Prase.IO chat 
After=network.target

[Service]
WorkingDirectory=/usr/local/node/chat
Environment=NODE_PORT=3001
User=root
Type=simple
TimeoutSec=0
PIDFile=/var/run/prase.pid
ExecStart=/usr/bin/node /usr/local/node/chat/prasechat.js
ExecStop=/bin/kill -HUP $MAINPID
ExecReload=/bin/kill -HUP $MAINPID

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
